[submodule "iOS/.vim/bundle/base-16-vim"]
	path = iOS/.vim/bundle/base-16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "iOS/.vim/bundle/lightline.vim"]
	path = iOS/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "iOS/.vim/bundle/vim-pathogen"]
	path = iOS/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "iOS/.vim/bundle/ctrlp.vim"]
	path = iOS/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "iOS/.vim/bundle/tabular"]
	path = iOS/.vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "iOS/.vim/bundle/vim-coloresque"]
	path = iOS/.vim/bundle/vim-coloresque
	url = git@github.com:Marslo/vim-coloresque.git
[submodule "iOS/.vim/bundle/vim-markdown-enhancements"]
	path = iOS/.vim/bundle/vim-markdown-enhancements
	url = git@github.com:mattly/vim-markdown-enhancements.git
[submodule "iOS/.vim/bundle/vim-repeat"]
	path = iOS/.vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "iOS/.vim/bundle/vim-surround"]
	path = iOS/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "iOS/.vim/bundle/emmet-vim"]
	path = iOS/.vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "iOS/.vim/bundle/vimwiki"]
	path = iOS/.vim/bundle/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "iOS/.vim/bundle/calendar.vim"]
	path = iOS/.vim/bundle/calendar.vim
	url = git@github.com:itchyny/calendar.vim.git
