body {
    font-family: 'Century Supra A Tab' !important;
    font-size: 16pt;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6,
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p{
    page-break-before: avoid;
}
